* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

.cover {
    width: 100%;
    height: 100%;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    width: 40%;
    height: 90%;
    background-color: aliceblue;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}

.top {
    background-color: antiquewhite;
    height: 16%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.top>div{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
    font-size: 1.5rem;
}


.bottom {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5%;
    place-items: center;
    padding: 2% 0%;
    cursor: pointer;
}

.bottom>div {
    width: 10vw;
    height: 20vh;
    border-radius: 10px;
    background-color: aqua;
    font-size: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 10px 10px gray;
}

#reload {
    padding: 10px 25px;
    border: none;
    border-radius: 10px;
    background-color: aqua;
    border: solid 1px blue;
    box-shadow: 3px 2px 3px black;
    cursor: pointer;
    font-size: 1.1rem;
}

#chance {
    font-size: 1.5rem;
    text-align: center;
}
#gameover {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#gameover1 {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -60%);
    background-color: aqua;
    padding: 10px 25px;
    border: none;
    border-radius: 10px;
    border: solid 1px blue;
    box-shadow: 3px 2px 3px black;
    cursor: pointer;
}

@media (max-width:1024px) {
    .top>div{
        display: flex;
        align-items: center;
        justify-content: space-around;}

    .main{
        width: 90%;
        height: 90%;
        background-color:aliceblue;
        border-radius: 10px;
        overflow: hidden;
    }
    .bottom {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 4%;
        place-items: center;
        padding: 2% 0%;
        cursor: pointer;
    }
    .top>div{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content:space-around;
        font-size: 2.5rem;
    }
    .bottom>div{
        width: 20vw;
        height: 20vh;
        border-radius: 10px;
        background-color: aqua;
        font-size: 3.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #reload {
        padding: 10px 25px;
        border: none;
        border-radius: 10px;
        background-color: aqua;
        border: solid 1px blue;
        box-shadow: 3px 2px 3px black;
        cursor: pointer;
        font-size: 2.5rem;
    }
}

@media(max-width:768px) {
    .main{
        width: 90%;
        height: 90%;
        background-color:aliceblue;
        border-radius: 10px;
        overflow: hidden;
    }
    .bottom {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 4%;
        place-items: center;
        padding: 2% 0%;
        cursor: pointer;
    }
    .top>div{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content:space-around;
        font-size: 2rem;
    }
    .bottom>div{
        width: 20vw;
        height: 20vh;
        border-radius: 10px;
        background-color: aqua;
        font-size: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #reload {
        padding: 10px 25px;
        border: none;
        border-radius: 10px;
        background-color: aqua;
        border: solid 1px blue;
        box-shadow: 3px 2px 3px black;
        cursor: pointer;
        font-size: 1.55rem;
    }
}

@media (max-width:425px) {
    .main{
        width: 100%;
        height: 100%;
        background-color:aliceblue;
        border-radius: 10px;
        overflow: hidden;
    }
    .bottom>div{
        width: 25vw;
        height: 20vh;
        border-radius: 10px;
        background-color: aqua;
        font-size: 3.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
} 




@media (max-width:400px) {
    .main{
        width: 100%;
        height: 100%;
        background-color:aliceblue;
        border-radius: 10px;
        overflow: hidden;
    }
    .top>div{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content:space-around;
        font-size: 1.5rem;
        flex-wrap: wrap;
    }
    .bottom>div{
        width: 30vw;
        height: 20vh;
        border-radius: 10px;
        background-color: aqua;
        font-size: 3.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #gameover1{
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%,-60%);
        background-color: aqua;
        padding:50px 25px;
        margin-bottom: 20%;
        border: none;
        border-radius: 10px;
        border:solid 1px blue;
        box-shadow: 3px 2px 3px black;
        cursor: pointer;
    }

}

@media (max-width:375px) {
    .main {
        width: 100%;
        height: 100%;
        background-color: aliceblue;
        border-radius: 10px;
        overflow: hidden;
    }

    .bottom>div {
        width: 28vw;
        height: 18vh;
        border-radius: 10px;
        background-color: aqua;
        font-size: 3.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .top {
        background-color: antiquewhite;
        height: 22%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5%;
        justify-content: center;
    }

    .top>div {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-around;
        /* font-size: 1.5rem; */
    }

    #reload {
        padding: 10px 10px;
        border: none;
        border-radius: 10px;
        background-color: aqua;
        border: solid 1px blue;
        box-shadow: 3px 2px 3px black;
        cursor: pointer;
    }

    #gameover1 {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -60%);
        background-color: aqua;
        padding: 50px 25px;
        margin-bottom: 20%;
        border: none;
        border-radius: 10px;
        border: solid 1px blue;
        box-shadow: 3px 2px 3px black;
        cursor: pointer;
    }
}

@media (max-width:320px) {
    .main {
        width: 100%;
        height: 100%;
        background-color: aliceblue;
        border-radius: 10px;
        overflow: hidden;
    }

    .bottom>div {
        width: 27vw;
        height: 20vh;
        border-radius: 10px;
        background-color: aqua;
        font-size: 3.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .top {
        background-color: antiquewhite;
        width: 100%;
        height: 25%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5%;
        justify-content: center;
    }

    .top>div {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 0%;
        font-size: 1.5rem;
    }

    #reload {
        padding: 10px 10px;
        border: none;
        font-size: 1.1rem;
        border-radius: 10px;
        background-color: aqua;
        border: solid 1px blue;
        box-shadow: 3px 2px 3px black;
        cursor: pointer;
    }

    #gameover1 {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -60%);
        background-color: aqua;
        padding: 50px 25px;
        margin-bottom: 20%;
        border: none;
        border-radius: 10px;
        border: solid 1px blue;
        box-shadow: 3px 2px 3px black;
        cursor: pointer;
    }



} 

